body, html {
    overflow-x:hidden;
    margin: 0;
    padding: 0;
}
.topbar {
    background-color: white;
}
div#sticker-sticky-wrapper {
    z-index: 9;
    position: relative;
}
.callus {
    text-align: center;
    padding: 5px;
}

span.callustext {
    font-family: "Alegreya Sans SC";
    font-size: 20px;display: block;
    line-height: 20px;
}

a.callusnumber {
    font-family: "Alegreya Sans SC";
    font-size: 25px;
    color: red;
    font-weight: bold;
    display: block;
    line-height: 20px;
}
div#bs-example-navbar-collapse-1 {
    text-align: center!important;
}

ul.nav.navbar-nav {
    float: none!important;
    text-align: center;
    display: inline-block!important;
    margin-bottom: -5px;
}

form.navbar-form.navbar-left {
    float: right!important;
}
nav.navbar.navbar-default {
    background-color: #2A2A2A;
    border-radius: 0!important;
    margin: 0!important;
    padding: 0!important;
    border: none!important;
    box-shadow: 0px 5px 8px black;
}

ul.nav.navbar-nav li.active a {
    background-color: rgb(199, 13, 19);
    color: white;
}

ul.nav.navbar-nav li a {
    color: white;
    font-family: "Alegreya Sans SC";
    font-size: 20px;
    text-shadow: 1px 1px 2px black;
}

ul.nav.navbar-nav li a:hover {
    background-color: rgb(199, 13, 19)!important;
    color: white!important;
}

ul.nav.navbar-nav li {
    padding-left: 2px;
    padding-right: 2px;
}
.getquotebtn.slider1 {
    position: absolute;
    left: 29%;
    top: 45%;
}
.getquotebtn.slider2 {
    position: absolute;
    right: 29%;
    top: 50%;
}
.getquotebtn a {
    text-decoration: none;
    background: #C70D13;
    padding: 10px 30px;
    margin: 0 5px 5px 0;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.3), 0 1px 3px -1px rgba(45,60,72,0.5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 -1px rgba(0,0,0,0.4);
    outline: none;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.3), 0 1px 3px -1px rgba(45,60,72,0.5);
    -moz-box-shadow: inset 0 1px 1px rgba(255,255,255,0.3), 0 1px 3px -1px rgba(45,60,72,0.5);
    border: 1px solid rgba(0,0,0,0.15);
    font-family: "Alegreya Sans SC", Sans-serif;
    text-transform: uppercase;
}
ol.flex-control-nav.flex-control-paging {
    position: absolute!important;
    bottom: 0;
    right: 15px!important;
    display: inline-block;
    width: auto!important;
    z-index: 8;
}

.flex-control-paging li a.flex-active {
    background: #C70D13;
}

.flex-control-paging li a {
    background: black;
}
section#carshow {
    min-height: 500px;
    overflow: visible;
    height: auto;
    padding: 50px;
    background-image: url(/assets/images/bg.jpg);
    background-size: cover;
}

.flexslider {
    margin-bottom: 0!important;
    border-bottom: 0!important;
    box-shadow: none!important;
}
.carthumb img {
    width: 100%;
    padding: 5px;
    display: block;
}

.blackbox {
    background-color: rgba(0, 0, 0, 0.59);
    transition: 0.5s;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}
.carthumb {
    overflow: hidden;
    position: relative;
    height: 250px;
}

.cardetails {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    text-align: center;
    display: table;
    transition: 1s;
    -webkit-transition: 1s;
    height: 250px;
}

.cardetails h3 {
    text-align: center;
    width: 100%!important;
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #C70D13;
    text-shadow: 1px 1px 2px black;
    display: none;
}

.blackbox:hover .cardetails {
    display: table;
    background-color: transparent;
}
.blackbox:hover .cardetails h3 {
    display: block;
}
.blackbox:hover {
    background-color: #C70D13;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 9;
    position: relative;
    box-shadow: 10px 10px 15px black;
}
.body-tagline h2 {
    font-family: "Alegreya Sans SC", Sans-serif;
    text-align: center;
    margin: 40px;
    color: black;
    text-shadow: 0px 0px 1px #C70D13;
    font-size: 60px;
}
span.firsttext {
    display: block;
    font-family: Ubuntu;
    font-size: 25px;
    font-weight: bold;
    padding-left: 20px;
    text-shadow: 1px 1px 2px black;
    color: white;
}

span.secondtext {
    display: block;
    font-family: Ubuntu;
    font-size: 23px;
    font-weight: bold;
    padding-left: 20px;
    text-shadow: 1px 1px 2px black;
    color: white;
}

span.thirdtext {
    display: block;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
    color: black;
}

div#slide2 {
    background-image: url(/assets/images/sliderbg2.jpg);
    padding: 0!important;
    margin: 0!important;
    border: 0;
    background-position: center center;
}
section.traffic123 {
    background-image: url(/assets/images/bg2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    padding: 50px;
}

.howitworks {
    text-align: center;
}

.howitworks .title {
    margin-top: 46px;
    font-size: 53px;
    text-shadow: 0px 0px 20px black;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    font-family: Ubuntu;
    font-weight: bold;
}

.howitworks .tagline {
    color: #ECC718;
    font-size: 30px;
    margin: 0;
    text-shadow: 0px 0px 15px black;
    font-weight: bold;
    font-family: ubuntu;
}
.grayline {
    width: 80%;
    height: 25px;
    background: #D7D9CC;
    margin: 0 auto;
    position: relative;
    top: 95px;
    box-shadow: 0px 0px 15px black;
}

.stepnumber span {
    display: block;
    border-radius: 50%;
    height: 135px;
    width: 135px;
    margin: 0 auto;
    font-size: 80px;
    color: white;
    box-shadow: 0px 0px 15px black;
    font-family: Ubuntu;
    font-weight: bold;
    padding: 10px;
    box-shadow: 0px 0px 20px black;
}

.steptext {
    padding: 10px;
    width: 89%;
    margin: 0 auto;
    min-height: 225px;
    box-shadow: 0px 0px 20px black;
}

.stepnumber {
    margin-bottom: 20px;
}
.trafficlight {
    width: 80%;
    margin: 0 auto;
}

.steptext h2 {
    margin-top: 0px;
    font-size: 22px;
    font-family: Ubuntu;
    font-weight: bold;
    color: white;
}

.steptext p {
    font-size: 16px;
    color: white;
    font-family: 'Ubuntu';
}

.steplink {
    color: white;
    width: 89%;
    margin: 0 auto;
    box-shadow: 0px 0px 15px black;
}

.steplink h2 {
    font-size: 17px;
    font-weight: bold;
    font-family: ubuntu;
    padding: 6px;
}
.step1:hover .stepnumber span {
    box-shadow: 0px 0px 20px rgba(255, 255, 169,1);
    transition: 1s;
}

.step1 .stepnumber span {
    transition: 1s;
    background-color: #C70D13;
}

.step1:hover .steptext {
    box-shadow: 0px 0px 20px rgba(255,255,169,1);
    transition: 1s;
}

.step1 .steptext {
    transition: 1s;
    background-color: #C70D13;
}

.step1:hover .steplink {
    box-shadow: 0px 0px 20px rgba(255, 255, 169,1);
    transition: 1s;
}

.step1 .steplink {
    transition: 1s;
    background-color: #C70D13;
}
.step1 {
    text-align: center;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    transition: 1s;
}

.step2:hover .stepnumber span {
    box-shadow: 0px 0px 20px rgba(255, 255, 169,1);
    transition: 1s;
}

.step2 .stepnumber span {
    transition: 1s;
    background-color: #E89B11;
}

.step2:hover .steptext {
    box-shadow: 0px 0px 20px rgba(255,255,169,1);
    transition: 1s;
}

.step2 .steptext {
    transition: 1s;
     background-color: #E89B11;
}

.step2:hover .steplink {
    box-shadow: 0px 0px 20px rgba(255, 255, 169,1);
    transition: 1s;
}

.step2 .steplink {
    transition: 1s;
    background-color: #E89B11;
}
.step2 {
    text-align: center;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    transition: 1s;
}

.step3:hover .stepnumber span {
    box-shadow: 0px 0px 20px rgba(255, 255, 169,1);
    transition: 1s;
}

.step3 .stepnumber span {
    transition: 1s;
    background-color: #009900;
}

.step3:hover .steptext {
    box-shadow: 0px 0px 20px rgba(255,255,169,1);
    transition: 1s;
}

.step3 .steptext {
    transition: 1s;
     background-color: #009900;
}

.step3:hover .steplink {
    box-shadow: 0px 0px 20px rgba(255, 255, 169,1);
    transition: 1s;
}

.step3 .steplink {
    transition: 1s;
    background-color: #009900;
}
.step3 {
    text-align: center;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    transition: 1s;
}
footer {
    padding: 30px;
    background-color: black;
}

.foot-nav li {
    list-style: none;
    font-family: Ubuntu;
    color: white;
    font-size: 16px;
}
address span {
    display: block;
    color: white;
    font-family: Ubuntu;
    font-size: 16px;
}

address span a {
    color: white;
}
.foot-nav ul {
    padding: 0;
}
.get-quote-page-wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 15px black;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.69);
    border-radius: 0px 0px 10px 10px;
}

.top-right {
    text-align: right;
}

.top-right img {
    width: 250px;
}

.details span {
    display: block;
    color: black;
    font-family: "Alegreya Sans SC";
    font-size: 18px;
}

.details span a {
    color: black;
}
.form-body {font-family: "Alegreya Sans SC", Sans-serif;}

.form-body h2 {
    font-weight: bold;
    font-size: 25px;
}

form#getquoteform {
    margin-top: 20px;
}

.form-body span {
    font-size: 17px;
}
section#get-quote-page {
    background-image: url(/assets/images/pagebg.png);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: right bottom;
}
input#submitquote {
    background-color: #A80505;
    color: white;
    font-weight: bold;
    font-size: 20px;
    height: auto!important;
}

input#submitquote:hover {
    background: #56451b;
    background: -moz-linear-gradient(top, #56451b 0%, #513a04 49%, #4f3600 50%, #564720 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#56451b), color-stop(49%,#513a04), color-stop(50%,#4f3600), color-stop(100%,#564720));
    background: -webkit-linear-gradient(top, #56451b 0%,#513a04 49%,#4f3600 50%,#564720 100%);
    background: -o-linear-gradient(top, #56451b 0%,#513a04 49%,#4f3600 50%,#564720 100%);
    background: -ms-linear-gradient(top, #56451b 0%,#513a04 49%,#4f3600 50%,#564720 100%);
    background: linear-gradient(to bottom, #C70808 0%,#FF0000 49%,#FF0000 50%,#AF1818 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56451b', endColorstr='#564720',GradientType=0 );
}
img#captcha {
    width: 145px;
}

input[name="captcha_code"] {
    display: block;
    width: 150px;
    border-radius: 2px;
    border: 1px solid rgba(128, 128, 128, 0.39);
}
span.errordiv {
    display: block;
    width: 50%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #09A909;
    color: white;
    padding: 5px;
    border-radius: 4px;
    margin: 10px auto;
}
span.errordivred {
    display: block;
    width: 50%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #C70D13;
    color: white;
    padding: 5px;
    border-radius: 4px;
    margin: 10px auto;
}
section#creditsection {
    padding: 50px;
    background-image: url(/assets/images/pagebg.png);
    min-height: 500px;
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: white;
    min-height: 600px;
}

.creditbutton {
    text-align: center;
}

.creditbutton button {
    text-decoration: none;
    background: #C70D13;
    padding: 0.8em 1.1em;
    margin: 0px;
    display: inline-block;
    font-size: 27px;
    font-weight: bold;
    color: #fff;
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.3), 0 1px 3px -1px rgba(45,60,72,0.5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 -1px rgba(0,0,0,0.4);
    outline: none;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.3), 0 1px 3px -1px rgba(45,60,72,0.5);
    -moz-box-shadow: inset 0 1px 1px rgba(255,255,255,0.3), 0 1px 3px -1px rgba(45,60,72,0.5);
    border: 1px solid rgba(0,0,0,0.15);
    width: 90%;
    height: 125px;
    font-family: "Alegreya Sans SC", SAns-serif;
}

button#button1 {
    float: right;
}

button#button2 {
    float: left;
}

.creditbutton button:hover {
    background: rgb(134, 0, 0);
}
.creditforms {
    background-color: rgba(255, 255, 255, 0.65);
    box-shadow: 0px 5px 15px black;
    padding: 25px;
    width: 88%;
    margin: 0 auto;
}
.creditforms h2 {
    font-size: 30px;
    font-family: "Alegreya Sans SC", Sans-serif;
    font-weight: bold;
}

span.form-title {
    display: block;
    text-align: center;
    background-color: black;
    padding: 5px;
    font-size: 20px;
    color: white;
    font-family: "Alegreya Sans SC", sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}
.creditforms {
    font-family: "Alegreya Sans SC", SAns-serif;
    font-size: 16px;
}
.creditforms.form1 {
    display: none;
}

.creditforms.form2 {
    display: none;
}
section#all-vehicles h2 {
    font-family: "Alegreya Sans SC", Sans-serif;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    color: black;
}
section#all-vehicles {
    padding: 50px;
}

span.number1 {
    width: 75px;
    display: block;
    background-color: #C70D13;
    color: white;
    text-align: center;
    font-family: "Alegreya Sans SC", Sans-serif;
    font-size: 40px;
    border-radius: 50%;
    padding: 5px;
    margin: 0 auto;
}
.toptagline h3 {
    margin: 0;
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
}

.toptagline span {
    font-family: "Alegreya Sans SC", Sans-serif;
    font-size: 17px;
}
.manufacturer-logos a {
    display: inline-block;
    width: 125px;
    padding: 15px;
}
.manufacturer-logos img {
    width: 100%;
}
section#about-us {
    padding: 50px;
}

.about-top h2 {
    font-family: "Ubuntu", Sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}
.about-top p {
    text-align: center;
    font-size: 15px;
    font-family: Ubuntu;
    display: block;
    margin-bottom: 15px;
}

.about-columns-3 {
    width: 80%;
    margin: 0 auto;
}

.about-columns-3 h3 {font-family: "Ubuntu";font-weight: bold;font-size: 18px;text-align: center;}

.about-columns-3 img {
    width: 175px;
    text-align: center;
    margin: 0 auto;
}

.about-columns-3 {
    text-align: center;
}
.addinfo {
    margin-top: 30px;
    text-align: center;
    font-size: 15px;
    font-family: Ubuntu;
    margin-bottom: 30px;
}
.easysteps h2 {
    text-align: center;
    display: block;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: Ubuntu;
    color: black;
    font-weight: bold;
    margin-top: 25px;
}

.stepsnumber h3 {font-family: "Ubuntu";font-weight: bold;font-size: 20px;margin-bottom: 0;margin-top: 10px;}

.stepsnumber p {
    font-family: Ubuntu;
    margin-bottom: 0px;
    font-size: 15px;
}
.about-columns-3.about-buttons {
    margin-top: 30px;
}

.linkbg a {
    text-decoration: none;
    width: 100%;
    text-decoration: none;
    background: #C70D13;
    padding: 0.8em 15px;
    margin: 0 5px 5px 0;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.3), 0 1px 3px -1px rgba(45,60,72,0.5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 -1px rgba(0,0,0,0.4);
    outline: none;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.3), 0 1px 3px -1px rgba(45,60,72,0.5);
    -moz-box-shadow: inset 0 1px 1px rgba(255,255,255,0.3), 0 1px 3px -1px rgba(45,60,72,0.5);
    border: 1px solid rgba(0,0,0,0.15);
    font-family: 'Calibri', sans-serif;
    position: relative;
    top: 15px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.linkbg a:hover {
    background: green;
}
section#contact-us {
}

.top-right.top-left {
    text-align: left;
}
section#contact-us {
    background-image: url(/assets/images/pagebg.png);
    min-height: 500px;
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.top-right.top-left {
    text-align: left;
}
.contact-wrapper {
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgba(255, 255, 255, 0.35);
    padding-bottom: 50px;
    margin-bottom: 70px;
    box-shadow: 0px 0px 15px black;
    padding-top: 50px;
    border-radius: 0px 0px 10px 10px;
}

.contact-form {font-family: "Alegreya Sans SC", Sans-serif;}

.contact-form h2 {
    font-size: 27px;
    font-weight: bold;
    display: block;
    margin-top: 35px;
}

input#submitform {
    width: 200px;
    background-color: #C70D13;
    color: white;
    font-size: 16px;
    height: auto;
    font-weight: bold;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    -moz-transition: 0.2s;
}

input#submitform:hover {
    background-color: green;
}
a.navbar-brand.visible-xs img {
    width: 175px;
}
.callus {
    text-align: center;
    padding: 5px;
    position: relative;
    top: 25px;
}
section#carslider {
    height: 200px;
    overflow: hidden;
}
div#slide1 {
    height: 200px;
    background-color: #ECECEC;
    margin: 0!important;
    padding: 0!important;
    width: 100%!important;
    border: 0;
    border-radius: 0;
}
.slidetext {
    text-align: center;
}